.js-clock {
    width:200px;
    height:50px;
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 10%;
    margin-top: 500px;
    color:aliceblue;
}


.js-title {
    border: 1px solid black;
    line-height: 10px;
    text-align: center;
}

.js-form {
    border: 1px solid black;
    text-align: center;
}

.form,
.greetings {
    border: 1px solid black;
    display:none;
}

.js-greeting {
    border: 1px solid dblack;
    text-align: center;
}

.showing {
    display: block;
}

button {
    border: none;
    background: none;
}
form {
    text-align: center;
}

ul {
    list-style: none;
    text-align: center;
    margin:0px; padding:0px;
}


@keyframes fadeIn{
    from{
        opacity: 0;
    } to {
        opacity :1;
    }
}

.bgImage{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index: -1;
    animation:fadeIn 1s linear;
}

.js-date{
    border: 1px solid black;
    color:white;
    text-align: center;
}

.js-day {
    border: 1px solid black;
    color:white;
}